 /* @font-face{
    font-family: 'Raleway';
    src: url('../assets/Raleway-VariableFont_wght.ttf');
} */

@font-face{
    font-family: 'Raleway-Regular';
    src: url('../assets/static/Raleway-Regular.ttf');
}

@font-face{
    font-family: 'Raleway-Medium';
    src: url('../assets/static/Raleway-Medium.ttf');
}

@font-face{
    font-family: 'Raleway-Bold';
    src: url('../assets/static/Raleway-Bold.ttf');
}

@font-face{
    font-family: 'Raleway-SemiBold';
    src: url('../assets/static/Raleway-SemiBold.ttf');
}


body{
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    font-family: Raleway-Regular;
    font-size: 16px;
    color: #616161;
    background: #f7f7ff;
    height: 100%;
    overflow: hidden;
}

.whole-page {
    margin-top: 50px;
    margin-bottom: 110px;
}

.top-sidebar {
    padding: 15px 15px 30px;
    background: #fff;
    position: relative;
}

.top-sidebar p{
    font-size: 13px;
}

.top-sidebar .media {
    z-index: 1;
    position: relative;
    font-size: 14px;
}

.top-sidebar .media .media-body {
    margin-top: 30px;
}

.top-sidebar .media .media-body h5 {
    margin-bottom: 3px;
    font-size: 15px;
}

.grey-bg {
    position: absolute;
    top: 0;
    height: 36px;
    width: 100%;
    background: #d4dcf4;
    left: 0;
    z-index: 0;
}

img {
    vertical-align: middle;
    border-style: none;
}

h5{
    margin: 10px 0;
    font-weight: 500;
    /* font-family: "Cerebri Sans,sans-serif"; */
    font-family: 'Raleway-Bold';
    color: #343a40;
}

.destination-list {
    background: #fff;
    padding: 21px 14px;
}

.destination-list h4 {
    font-size: 16px;
    font-family: Raleway-SemiBold;
    color: #292929;
    margin-top: 0;
}

.destination-list ul {
    padding: 0;
    list-style: none;
}

.destination-list ul li a {
    font-size: 14px;
    color: #616161;
    font-family: Raleway-Medium;
    line-height: 50px;
    font-weight: 550;
}

.nav {
    margin-bottom: 0;
    list-style: none;
}
.nav.nav-pills {
    background: #fff;
    padding: 16px;
    border-bottom: none;
}

.nav-pills .nav-item {
    margin-bottom: -1px;
}

.nav-pills .nav-link {
    border: 1.5px solid #ccc;
    /* border: 1.5px solid red; */
    font-family: Raleway-Medium;
    font-size: 14px;
    margin-right: 10px;
    padding: 7px 15px;
    color: #979797;
    font-weight: 400;
    border-radius: 30px;
}

.nav-pills .nav-link.active {
    border: 1px solid #004b8c;
    color: #fff;
    background: #004b8c;
}

.tab-content {
    padding: 20px 0 0 0;
}

.tab-content p {
    font-size: 14px;
    color: #616161;
}

.tab-content>.active {
    display: block;
}

.tab-content h5 {
    font-size: 16px;
}

.tab-content ul{
    list-style: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #6658dd;
    text-decoration: none;
    background-color: transparent;
}

.bg-white2 {
    background: #fff;
    float: left;
    width: 100%;
}

.avatar-sm {
    height: 2.25rem;
    width: 2.25rem;
}

.social-list ul li a {
    font-size: 14px;
    color: #616161;
}

.advertisement {
    background: #fff;
}

.advertisement h5 {
    font-size: 12px;
    font-family: Raleway-Medium;
    color: #a5a7aa;
}

.advertisement h5, .add-list {
    padding: 15px;
}

.add-box p {
    font-size: 13px;
    margin-top: 10px;
}

.comment-likes2 {
    font-family: 'Raleway-Medium';
}



